
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.main-container {
    width: 85%;
    padding: 0 15px;
    margin: auto;
}
.header-top-container {
    display: flex;
    background: #f5f5f5;
    font-size: 14px;
}
.header-top-container-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.header-top-left {
    display: flex;
    align-items: center;
    padding: 10px 0 13px;
}
.header-top-left-all-item-head {
    display: flex;
    color: #1c1c1c;
    padding: 0;
    margin: 0;
}
.mail {
    color: #1c1c1c;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #dad7d7;
}
.fa-envelope {
    margin-right: 5px;
}
.header-top-right {
    display: flex;
    align-items: center;
}
.header-top-right-social {
    margin-right: 20px;
    border-right: 1px solid #dad7d7; 
}
.icon  {
    margin-right: 20px;
    color: #1c1c1c;
}
.header-top-right-lenguage {
    display: flex;
    align-items: center;
}
.country {
    margin-right: 5px;
}
.lenguage-selection {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 95px;
}
.header-top-right-auth-head {
    padding: 0 0 0 10px;
    cursor: pointer;
    color: #1c1c1c;
    font-size: 13px;
}
/*  header top end */
.container {
    display: flex;
}
.wrappar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-head {
    display: flex;
    height: 80px;
    padding-left: 0;
    align-items: center;
    justify-content: space-between;
}
.header-menu-icon {
    font-size: 20px;
    border: 1px solid;
    display: none;
}
.header-menu-icon i {
    padding: 6px;
    font-weight: 900;
}
.logo-container {
    padding: 15px 0;
}
.header-menu {
    padding: 24px 0;
    margin: 0;
}
.navigation-head {
    padding-right: 10px;
}
.navigation {
    padding: 0 15px;
}
.navigation ul a li {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
}
.header-cart {
    display: flex;
    align-items: center;
}
.cart-text-head {
    display: inline-block;
    margin-right: 20px;
}
.header-cart ul li a {
    position: relative;
}
.shoping-icon  {
    font-size: 18px;
    color: #1c1c1c;
}
.cart-text {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #fff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -14px;
}
.header-cart-price {
    font-size: 14px;
    color: #6f6f6f;
    margin-left: 10px;
}
.cart-dollar {
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 1000;
}
/* header end */
.department-menu {
    width: 29%;
    cursor: pointer;
    padding-right: 15px;
}
.department {
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #7fad39;
    padding: 15px 20px 15px 40px;
}
.department-head {
    align-items: center;
    position: relative;
}
.department-text {
    margin: 0 10px 0 10px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.department-text i {
    padding-right: 10px;
}
.all-departments {
    display: block;
    user-select: none;
    top: 50px;
    left: 0;
    border: 1px solid #ececec;
    border-top: none;
}
.all-departments ul {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
}
.all-departments.hidden {
    display: none;
}
/*.department-head:hover .all-departments {
    display: block;
} */
.all-departments ul li {
    padding: 10px;
    color: #555454;
}
.search-box-head {
    flex: 1;
}
.search-box {
    display: flex;
    flex: 1;
    margin: 0 25px 0 0;
    border: 1px solid #b2b2b2;
}
.search {
    flex: 1;
    border: none;
    outline: none;
    height: 48px;
    font-size: 16px;
    color: #b2b2b2;
    padding-left: 20px;
}
.search-button {
    border: none;
    outline: none;
    color: #ffffff;
    background: #7fad39;
    font-weight: 1000;
    padding: 12px 20px;
}
.search-support-banner-head {
    width: 100%;
}
.search-support-banner {
    padding-left: 15px;
    width: 100%;
}
.search-support {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.search-box-head {
    width: 56%;
}
.support {
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.phone-icon {
    padding: 15px;
    color: #7fad39;
    background: #e7e7e7;
    border-radius: 50%;
}
.number-time {
    padding-left: 20px;
}
.number {
    margin: 0;
    color: #1c1c1c;
    font-weight: 900;
    padding: 0 0 5px ;
}
.support-time {
    margin: 0;
    font-weight: 100;
    color: #929191;
    padding: 5px 0 0 ;
}
.hero {
    padding-bottom: 50px;
}
.hero-banner-head {
    height: 431px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 75px;
    background-image: url(./assets/img/hero/banner.jpg.webp);
}
.hero-banner-text span {
    color: #7fad39;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Cairo", sans-serif;
}
.hero-banner-text h2 {
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 900;
    margin: 10px 0;
    font-family: "Cairo", sans-serif;
}
.hero-banner-text p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
.hero-banner-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    background: #7fad39;
    letter-spacing: 1px;
}
                /*  hero end */

.swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: rgb(177, 175, 175);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide h5 {
    position: absolute;
    left: 0;
    width: 75%;
    padding: 0 30px;
    bottom: 15px;
    text-align: center;
}
.swiper-slide h5 a {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 0 8px;
    background: #ffffff;
    display: block;
    font-family: "Cairo", sans-serif;
}
.swiper-pagination {
    display: none;
}
               /*  first-silde end */
.featured-product {
    padding-top: 80px;
    padding-bottom: 40px;
}
.feature-product-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.feature-product-text {
    position: relative;
    color: #1c1c1c;
    font-weight: 900;
    font-size: 36px;
    font-family: "Cairo", sans-serif;
}
.feature-product-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80px;
    height: 4px;
    background-color: #7fad39;
    transform: translateX(-50%);
}
.active-mixitup-control {
    text-align: center;
    margin-bottom: 50px;
}
.active-mixitup-item-head {
    display: flex;
    justify-content: center;
}
.active-mixitup-item-head li {
    list-style: none;
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
    font-family: "Cairo", sans-serif;
}
.active-mixitup-item:hover::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
}
.product-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.product-wrapper {
    padding: 0 15px;
}
.product-head {
    margin-bottom: 50px;
}
.product {
    height: 270px;
    width: 260px;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}
.pic-hover {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    bottom: -40%;
    justify-content: center;
    transition: all, 0.5s;
}
.product:hover .pic-hover {
    bottom: 10%;
}
.pic-hover li {
    width: 35px;
    height: 35px;
    border: 1px solid #e6e3e3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}
.pic-hover li a {
    color: #111111;
    font-size: 16px;
}
.pic-hover li a i {
    transform: rotate(0)
}
.pic-hover li:hover {
    background: #7fad39;
}
.pic-hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
    transition: all, 0.4s;
}
.name-price {
    color: #111111;
    padding-top: 15px;
    text-align: center;
}
.name {
    margin-bottom: 10px;
}
.name a {
    color: #242323;
    font-size: 15px;
    font-weight: 400;
}
.price {
    font-size: 18px;
    font-weight: 900;
}
/*  featured product end */
.banner-container {
    display: flex;
}
.banner-image1 {
    max-width: 50%;
    padding: 0 15px;
}
.banner-image2 {
    max-width: 50%;
    padding: 0 15px;
}
.img {
    width: 100%;
}
/*  banner-end   */
.product-slider {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.latest-product-container {
    padding: 0 15px;
}
.latest-product-head-text h4 {
    font-size: 24px;
    font-weight: 900;
    color: #1c1c1c;
    margin-bottom: 45px;
}
.latest-product-product {
    display: flex;
    margin-bottom: 20px;
}
.latest-product-img {
    margin-right: 26px;
}
.latest-product-text {
    padding-top: 10px;
}
.latest-product-name {
    color: #242323;
    font-size: 15px;
    font-weight: 400;
}
.latest-product-price {
    color: #242323;
    font-size: 18px;
    font-weight: 900;
}
/*  product-slider-end  */
.blog-section {
    padding: 50px 0;
}
.blog-container {
    display: flex;
    justify-content: space-between;
}
.blog {
    padding: 0 15px;
}
.from-blog-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.from-blog-text {
    position: relative;
    color: #1c1c1c;
    font-weight: 900;
    font-size: 36px;
    font-family: "Cairo", sans-serif;
}
.from-blog-text::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 4px;
    top: 100%;
    left: 50%;
    background-color: #7fad39;
    transform: translate(-50%);
}
.blog-text {
    padding-top: 20px;
}
.date-comment {
    margin-bottom: 8px;
}
.date-comment div {
    font-size: 16px;
    color: #b2b2b2;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    font-family: "Cairo", sans-serif;
}
.date-icon {
    margin-right: 5px;
}
.blog-text h5 a {
    color: #1c1c1c;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 12px;
    font-family: "Cairo", sans-serif;
}
.blog-text p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
/* blog end */
.footer {
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}
.about-section {
    display: flex;
}
.address-phone-email li {
    font-size: 16px;
    line-height: 36px;
    color: #1c1c1c;
}
.about-head {
    padding: 0 15px;
}
.about {
    margin-bottom: 30px;
}
.usefull-links {
    padding: 0 15px;
    margin-left: 100px;
    width: 30%;
}
.usefull-links-container h4 {
    color: #1c1c1c;
    font-weight: 900;
    margin-bottom: 10px;
}
.usefull-links-container div{
    display: flex;
}
.usefull-links-1 {
    font-size: 14px;
    line-height: 32px;
    width: 50%;
    font-family: "Cairo", sans-serif;
}
.usefull-links-2 {
    line-height: 32px;
    width: 50%;
    font-family: "Cairo", sans-serif;
}
.subscribe h3 {
    color: #1c1c1c;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: "Cairo", sans-serif;
}
.subscribe p {
    font-size: 14px;
    color: #1c1c1c;
    margin-bottom: 30px;
}
.subscribe form {
    margin-bottom: 30px;
}
.footer-social {
    display: flex;
}
.footer-social a div {
    font-size: 16px;
    width: 40px;
    height: 40px;
    border: 1px solid #ededed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background: #ffffff;
    color: #404040;
}
.copy-payment-container {
    display: flex;
    justify-content: space-between;
}
.copy-payment {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;
}
.footer__copyright__text p{
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin-bottom:15px;
}
/*  @ media  */

@media (max-width: 1000px) {
    .main-container {
        width: 95%;
    }
    .header-menu-icon {
        display: block;
    }
    .hero {
        width: 100%;
    }
    .hero .container {
        width: auto;
        padding: 0 15px;
    }
    .header-top {
        display: none;
    }
    .wrappar {
        display: block;
        height: 100%;
        padding: 0 15px;
    }
    .shopping {
        display: flex;
        justify-content: center;
        padding: 10px 0 24px;
    }
    .navigation-head {
        display: none;
    }
    .department {
        justify-content: space-between;
    }
    .container {
        display: block;
    }
    .department-menu {
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }
    .search-support-banner-head {
        width: 100%;
    }
    .search-support-banner {
        padding: 0 ;
        width: 100%;
    }
    .search-box {
        width: 100%;
    }
    .first-slider {
        display: none;
    }
    .product-container {
        grid-template-columns: auto auto auto;
    }
    .product {
        width: 210px;
        display: flex;
        justify-content: center;
    }
    .blog-container {
        display: block;
    }
    .product-slider {
        display: block;
    }
    .product {
        width: 200px;
    }
    .about-section {
        display: block;
    }
    .usefull-links {
        margin: 0;
        width: 100%;
    }
    .subscribe {
        padding: 0 15px;
    }
    .copy-payment-container {
        padding: 0 15px;
        display: block;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .search-support {
        display: block;
    }
    .search-box-head {
        width: 100%;
        margin-bottom: 20px;
    }
    .support-head {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .support {
        padding: 0;
    }
    .active-mixitup-item-head li {
        margin-right: 20px;
    }
    .product-container {
        grid-template-columns: auto ;
    }
    .product-wrapper {
        padding: 0 5px;
    }
    .product {
        width: 200px;
    }
}